.calendarview-wrapper {
    font-family: "Segeo UI";
    font-size: 14px;
    color: #444;
}

/* year control div -----------*/
.calendarview-operation {
    float: left;
    display: inline-block;
    height: 18px;
}

.calendarview-operation-btn { cursor: pointer; }

    .calendarview-operation-btn .icon { height: 11px; }

.calendarview-operation-year-label {
    margin: 0 9px;
    vertical-align: 1px;
}

/* month nav --------------*/
.month-nav { min-height: 20px; }

.month-nav-item {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}

    .month-nav-item:hover {
        background-color: #ddd;
    }

    .month-nav-item.selected {
        color: #fff;
        background-color: #555;
    }

    li.month-nav-item.selected {
        margin-right: 0;
    }

    li.month-nav-item.selected + li.month-nav-item.selected {
        margin: 0 10px 0 0;
        padding-left: 30px;
    }

/* double calendar table -----------*/
.month-title {
    width: 100%;
    height: 13px;
    line-height:10px;
    margin: 15px 0 5px;
    text-align: center;
}

.calendar-table {
    min-width: 420px;
    border: 0px solid #d9d9d9;
    border-top-width: 1px;
    border-left-width: 1px;
    -moz-user-select: none;
    -ms-user-select: none;
}

    .calendar-table th {
        border: 1px solid #555;
        border-bottom: 0;
        text-align: center;
        font-weight: normal;
        color: #fff;
        background-color: #555;
    }

    .calendar-table td {
        border: 0px solid #d9d9d9;
        border-bottom-width: 1px;
        border-right-width: 1px;
        text-align: center;
        cursor: pointer;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

.unselectable {
    cursor: default;
}

.hasTooltip {
    cursor: pointer;
}

.calendar-table td > div {
    position: relative;
    width: 60px;
    height: 50px;
}

    .calendar-table td .td-hover-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 50px;
        background-color: transparent;
    }

    .calendar-table td .td-hover-border:hover { border: 2px solid #55bbdd; }

    .calendar-table td .td-selected-border { 
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #555;
        display: none;
    }

.notecalendar-datetext {
    position: absolute;
    left: 37px;
    top: 2px;
    width: 20px;
    height: 20px;
}

    .notecalendar-datetext.today {
        color: #fff;
        background-color: #233855;
    }

.notecalendar-selectedicon {
    display: none;
    position: absolute;
    left: 38px;
    top: 27px;
    width: 22px;
    height: 22px;
}

.calendar-table td.notecalendar-selected .notecalendar-selectedicon {
    display: block;
}

.notecalendar-extension {
    position: absolute;
    left: 0;
    top: 29px;
    width: 18px;
    height: 18px;
}
/* color tips list ----------------*/
.colortips {
    width: 165px;
    margin-top: 40px;
    list-style: none;
}

    .colortips li {
        height: 30px;
    }

        .colortips li span {
            width: 11px;
            height: 11px;
            display: inline-block;
            margin-right: 9px;
            vertical-align: sub;
        }

span.non-working {
    background-color: #fce17a;
}

span.taken {
    background-color: #c8c8c8;
}

span.approved {
    background-color: #99d077;
}

span.rejected {
    background-color: #f99;
}

span.pending {
    background-color: #88d1ee;
}

span.taking {
    background-color: #fcc066;
}

span.mutiple-requests {
    background-color: #bdbdfe;
}

span.cancelled {
    background-color: #ddd;
}

div.non-working, div.holiday {
    background-color: #ffe;
}

div.taken {
    background-color: #e4e3e3;
}

div.approved {
    background-color: #cefcce;
}

div.rejected {
    background-color: #fcc;
}

div.pending {
    background-color: #bef;
}

div.taking {
    background-color: #fcc055;
}

div.mutiple-requests {
    background-color: #d1ccff;
}

div.cancelled {
    background-color: #f3f3f3;
}
